---
layout: default
---

<main class="main">
  <div class="container">
    <div>
      <h1>Welcome</h1>
      <p>My name is Tiago, and this is my small corner of the internet.</p>
    </div>
    <div>
      <h2>Ruby</h2>
      <p>I am a member of the <a href="https://www.ruby-lang.org/">ruby</a> community, and I develop and maintain the following ruby gems:</p>
      <ul>
        {% for item in site.data.projects %}
          <li>
            <a href="{{ item.url }}">
              {{ item.name }}
            </a> : {{ item.description }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <a class="btn" href="{{ '/posts/index.html' | prepend: site.baseurl }}">
      Blog
    </a>
    <a class="btn" href="{{ '/feed.xml' | prepend: site.baseurl }}">
      RSS
    </a>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <p>A production of <a href="{{ site.authorurl }}">HoneyryderChuck</a> and published under the <a href="{{ site.repourl | append: '/blob/master/LICENSE.txt' }}">Apache 2.0 License</a>.</p>
  </div>
</footer>
<script src="{{ '/scripts/curl_to_ruby.js' | prepend: site.baseurl }}"></script>
