<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {{ page.title }} &middot; {{ site.title }}
  </title>
  <link href="{{ site.baseurl }}" rel="canonical">
  <link href="{{ site.description }}" rel="description">
  <meta name="keywords" content="{{ site.keywords | join: ', ' | append: ', ' | append: page.keywords }}" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/styles/poole.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/styles/syntax.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/styles/lanyon.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/styles/main.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ '/images/favicon.ico' | prepend: site.baseurl }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>