---
layout: default
---

<div id="breadcrumbs">
  <a href="{{ '/' | prepend: page.project | prepend: '/' }}">Home</a>
  {% assign wikihome = '/wiki/home.html' | prepend: page.project | prepend: '/' %}
  {% if page.url != wikihome %}
  <a href="{{ wikihome }}">Wiki</a>
  {% endif %}
</div>
<div class="page wiki">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
